			* {
				margin: 0;
				padding: 0;
				background-repeat: no-repeat;
				background-attachment: fixed;
				text-align: center;
			}
			
			body {
				background-image: url(../images/bg.png);
				background-color: lightskyblue;
			}
			
			.main {
				margin: 55px auto 30px auto;
				height: 500px;
				width: 430px;
				border: 1px solid white;
				background-color: white;
			}
			
			.SignHeader {
				margin: 30px auto 0 auto;
				color: #0084FF;
				font-family: "黑体";
				font-size: 23px;
			}
			
			.Signslogen {
				margin: 18px auto 38px auto;
			}
			
			.download {
				background-color: #8590A6;
				color: white;
				font-family: "微软雅黑";
				font-size: 16px;
				margin: 10px auto;
				width: 430px;
				height: 40px;
				cursor: pointer;
				border-radius: 5px;
				border: none;
			}
			
			.tel {}
			
			.num {
				margin: auto 0 auto 33px;
				float: left;
				height: 45px;
				width: 150px;
			}
			
			.userName {
				float: right;
				height: 45px;
				width: 387px;
				text-align: left;
			}
			 input::-webkit-input-placeholder {

         font-size: 15px;
         /* placeholder位置  */
         text-align: left;
    }
			
			.mess {
				width: 450px;
				height: 60px;
			}
			
			.passWord {
				margin: auto 43px;
				border: 0 solid #EBEBEB;
				border-bottom: 1px solid #EBEBEB;
				float: left;
			}
			
			.getmess {
				margin: auto 65px auto auto;
				border: 0 solid #EBEBEB;
				border-bottom: 1px solid #EBEBEB;
				float: right;
				font-size: 14px;
				/*color:#175199;*/
			}
			
			.voice {
				float: right;
				margin: 30px 45px 30px auto;
				font-size: 14px;
			}
			
			.register {
				margin: 40px 0px auto;
				width: 350px;
				height: 40px;
				font-size: 15px;
				background-color: #0077E6;
				color: white;
				cursor: pointer;
				border-radius: 5px;
				border: none;
			}
			
			.zhuce {
				margin: 30px auto 80px 45px;
				font-size: 14px;
			}
			
			.log {
				margin-left:40px;
				float: left;
				color: #8590A6;
			}
			
			.jigouhao {
				float: right;
				margin: auto 40px auto auto;
				color: #175199;
			}
			
			.getmess a:link,
			.getmess a:visited,
			.getmess a:active,
			.getmess a:hover,
			.login a:link,
			.login a:visited,
			.login a:active,
			.login a:hover,
			.jigouhao a:link,
			.jigouhao a:visited,
			.jigouhao a:active,
			.jigouhao a:hover {
				text-decoration: none;
				color: #175199;
			}
			
			.voice a:link,
			.voice a:visited,
			.voice a:active,
			.voice a:hover,
			.log a:link,
			.log a:visited,
			.log a:active,
			.log a:hover {
				text-decoration: none;
				color: #8590A6;
			}
			
			.login {
				height: 56px;
				background-color: #F6F6F6;
				border: 1px solid #ebebeb;
			}
			
			.logina {
				font-family: "微软雅黑";
				font-size: 16px;
				margin: 20px auto auto auto;
			}
			
			.foot {
				font-size: 15px;
				font-family: "微软雅黑";
				color: white;
				margin: auto;
				width: 700px;
				height: 50px;
				margin-top: 150px;
			}
			
			.foot a:link {
				color: white;
				text-decoration: none;
			}
			
			.foot a:visited {
				color: white;
			}
			
			.font a:active,
			.font a:hover {
				/*未知原因 无效*/
				color: red;
				text-decoration: underline;
			}
			
			hr {
				/*设置默认横线必须加height并设边框为零*/
				background-color: #EBEBEB;
				height: 1px;
				border: 0;
			}
			
			.one {
				text-shadow: 1px 2px 1px #000;
				margin: 80px auto 5px;
				auto;
			}
			
			.two,
			.three {
				text-shadow: 1px 2px 2px #000;
				margin: 5px auto;
			}
			
			input {
				border: 0;
				border-bottom: 1px solid #EBEBEB;
				padding: 10px 0 0 10px;
				text-align: left;
			}
			
			.userName input {
				width: 220px;
			}
			
			.passWord input {
				width: 220px;
			}